* {
    padding: 0px;
    margin: 0px;
    font-family: Jost, Montserrat, sans-serif;
}


*:focus {
    outline: none;
}

body {
    background: #FFFFFF;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 34px;
    font-family: Montserrat;
    font-weight: 600;
}

h2, h3, h4, h5 {
    font-family: Montserrat;
    font-weight: 600;
}

.link_black, .link_black:visited, .link_black:link {
    text-decoration: none;
    color: #000000;
}
.link_black:hover {
    color: #333333;
}

.link_white, .link_white:visited, .link_white:link {
    text-decoration: none;
    color: #FFFFFF;
}
.link_white:hover {
    color: #EEEEEE;
}

#logo, #logo:link, #logo:visited {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 80px;
    mix-blend-mode: difference;
    position: fixed;
    left: 20px;
    top: 17px;
    animation: 0.5s navInAnimation ease-in;
    z-index: 10000000;
}

#menubtn, #menubtn:link, #menubtn:visited {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Material Icons';
    font-size: 25px;
    line-height: 80px;
    mix-blend-mode: difference;
    position: fixed;
    right: 34px;
    top: 0px;
    transition: 0.3s transform;
    cursor: pointer;
    animation: 0.5s navInAnimation ease-in;
    z-index: 10000000;
}

.darksection {
    background: #101010;
    color: #FFFFFF;
    z-index:1;
    padding: 30px 80px 40px 80px;
}

.lightsection {
    background: #FFFFFF;
    color: #141414;
    z-index:1;
    padding: 30px 80px 40px 80px;
}

.coloredsection {
    background: attr(bgcolor);
    z-index:1;
}

#navspace {
    margin-top: 80px;
    display: block;
}

#menu {
    display: none;
    height: 0%;
    width: 100%;
    top: 0px;
    background-color: #00112c;
    position: fixed;
    transition: 0.3s;
    background-image: url("/assets/images/nav.svg");
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    z-index: 10000;
}

#menu::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 3px;
    width: 100%;
    background: #444;
    background-image: linear-gradient(90deg,#fa2e62,#0059d6,#21f543);
}

#menu_links {
    position: fixed;
    right: 80px;
    top: 180px;
    text-align: right;
    transition: 0.3s;
    display: none;
    opacity: 0;
}

#menu_links a:link,  #menu_links a:visited, #menu_links a {
    color: #FFFFFF;
    font-size: 50px;
    display: block;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 600;
    transition: 0.3s;
    margin-bottom: 20px;
} 


#menu_links a:hover {
    background-image: linear-gradient(90deg,#fa2e62,#0059d6,#21f543);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@keyframes topBackgroundAnimation {
    from {
        opacity: 0;
        background-position: 0px -50px;
    }
    to {
        opacity: 1;
        background-position: top;
    }
}






#homepagetopsection {
    background: #212121;
}

#homepagetopsectioninner {
    padding-top: 240px;
    padding-bottom: 190px;
    background: url("/assets/images/homepagetop.svg");
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    animation: 0.7s topBackgroundAnimation ease-in;
}

#homepagetopslogan {
    color: #FFFFFF;
    font-weight: 600;
    font-family: Montserrat;
    text-align: center;
    font-size: 40px;
    width: 100%;
    display: block;
}


@keyframes navInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.noSelection {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#footer {
    background: #141822;
    
    padding: 40px 70px;
}

#footer #copyright {
    right: 0px; 
    position: absolute; 
    margin-top: 7px; 
    margin-right: 70px;
    color: #989898;
}

#footer img {
    vertical-align: middle;
    margin-right: 20px;
}

#footer a, #footer a:link, #footer a:visited {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
}


.load-bar {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: #fdba2c;
  }
  .load-bar .bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
  }
  .load-bar .bar:nth-child(1) {
    background-color: #da4733;
    animation: loading 1.5s linear infinite;
  }
  .load-bar .bar:nth-child(2) {
    background-color: #3b78e7;
    animation: loading 1.5s linear 0.45s infinite;
  }
  .load-bar .bar:nth-child(3) {
    background-color: #fdba2c;
    animation: loading 1.5s linear 1s infinite;
  }
  @keyframes loading {
      from {left: 0%; width: 0;z-index:100;}
      33.3333% {left: 0; width: 100%;z-index: 10;}
      to {left: 0; width: 100%;}
  }

  loadindicator {
    position: fixed;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.065) none repeat scroll 0% 0%;
    height: 100%;
    width: 100%;
    z-index: 1000000000;
    display: none;
  }









  @media screen and (max-width: 720px) {

    #menu_links a:link,  #menu_links a:visited, #menu_links a {
        font-size: 35px;
    }


    #homepagetopslogan {
        font-size: 25px;
    }

    #footer {
        padding: 10px 20px;
        text-align: center;
    }
    
    #footer #copyright {
        display: block;
        position: relative; 
        margin-top: 7px; 
        margin-bottom: 10px;
        margin-right: 0px;
        margin-left: 0px;
    }
    
    #footer img {
        display: block;
        margin: 10px auto;
    }
    
    #footer a, #footer a:link, #footer a:visited {
        margin-right: 0px;
        display: block;
    }
    
    .footerseparator {
        display: none !important;
    }

    .darksection {
        padding: 30px 40px 40px 40px;
    }
    
    .lightsection {
        padding: 30px 40px 40px 40px;
    }
}
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: none;
  }
  
  .hljs,
  .hljs-tag,
  .hljs-subst {
    color: #323232;
  }
  
  .hljs-strong,
  .hljs-emphasis {
    color: #a8a8a2;
  }
  
  .hljs-bullet,
  .hljs-quote,
  .hljs-number,
  .hljs-regexp,
  .hljs-literal,
  .hljs-link {
    color: #ae81ff;
  }
  
  .hljs-code,
  .hljs-title,
  .hljs-section,
  .hljs-selector-class {
    color: #a6e22e;
  }
  
  .hljs-strong {
    font-weight: normal;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-name {
    color: #22863a;
  }
  
  .hljs-keyword {
      font-weight: normal;
  }
  
  .hljs-symbol,
  .hljs-attribute,
  .hljs-attr {
    color: #5880ee;
  }
  
  .hljs-params,
  .hljs-class .hljs-title {
    color: #f8f4f2;
  }
  
  .hljs-type,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-selector-id,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-addition,
  .hljs-variable,
  .hljs-template-variable {
    color: #6f42c1;
  }
  
  .hljs-deletion,
  .hljs-meta {
    color: #ff7567;
  }
  
  .hljs-comment {
  color: #75715e
  }
  
  .hljs-string {
  color: #032f62;
  }
  
